.pendienteForm {
  margin-bottom: 20px;
}

.form-pendiente {
  display: flex;
  flex-direction: column;
}

.label-pendiente-form {
  margin-bottom: 10px;
}

.select-pendiente-form,
.input-pendiente-form {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.button-pendiente-form {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button-pendiente-form:hover {
  background-color: #45a049;
}

.buton-buscar {
  background-color: #4caf50;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 12px;
}

.buton-buscar:hover {
  background-color: #45a049;
}

.input-file {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #000;
  border: 1px solid #cccccc;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 12px;
  color: #fff;
}

.input-file:hover {
  border-color: #222;
}

.input-file:focus {
  border-color: #66afe9;
  outline: 0;
}