.container-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  background-color: black;
}

.card {
  background-color: #555;
  border-radius: 5px;
  padding: 8px 16px;
  width: auto;
  margin: 8px;
}

.card h3 {
  font-size: 16px;
  margin-bottom: 8px;
  background-color: #555;
}

.card p {
  font-size: 14px;
  background-color: #666;
  border-radius: 4px;
  margin: 0;
}

.btn-editar {
  background-color: #007bff;
  color: #fff;
  padding: 4px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
  margin-top: 24px;
}

.btn-editar:hover {
  background-color: #0056b3;
}

.btn-eliminar {
  background-color: #ff0000;
  color: #ffffff;
  padding: 4px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
  margin-top: 24px;
}

.btn-eliminar:hover {
  background-color: #cc0000;
}